<div class="row" >
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>naziv</th>
                    <th>cena</th>
                    <th>opis </th>
                   
                  
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="k in sctrl.korpa">
                         {{korpa}}
                    <td>{{k["naziv"]}}</a></td>
                    <td>{{k["cena"]}}</td>
                    <td>{{k["opis"]}}</td>
                 
                
                
                </tr>
            </tbody>
           
        </table>
    </div>
</div>