<div class="loginForm">
    
    <form class="form" ng-submit="rc.registracija()">
        <div class="form-group">
            <p>Username</p>
            <input class="form-control" id="username" type="text" ng-model="rc.addUser.username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <p>Password</p>
            <input class="form-control" id="password" type="password" ng-model="rc.addUser.password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <p>Ime</p>
            <input class="form-control" id="name" type="text" ng-model="rc.addUser.name" placeholder="Ime" required>
        </div>
        <div class="form-group">
            <p>Prezime</p>
            <input class="form-control" id="surname" type="text" ng-model="rc.addUser.surname" placeholder="Prezime" required>
        </div>
        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Registracija">
        </div>
    </form>
</div