<div class="row">
    <div class="col-12">
        <table class="table">
            
            <thead>
                <tr>
                    <th>   </th>
                    <th>naziv</th>
                    <th>cena</th>
                    <th>opis </th>
                    <th><input type="text" placeholder="Pretraga" aria-label="Pretraga" ng-model="searchText"/>   </th>
                  
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="k in pctrl.aProizvodi | filter:searchText">

                    <td><img src="{{k.slika}}" alt="slike" width="200px" height="200px"></td>
                    <td><a ui-sref="proizvod({id: k['id']})" class="vel">{{k["naziv"]}}</a></td>
                    <td class="font-weight-bold k " >{{k["cena"]}} din.</td>
                    <td class="">{{k["opis"]}} </td>
                    
                    <td><p>kolicina:</p><input ng-model="k.kolicina" type="number" name="col" min="1" max="10" >
                        
                    <button class="btn btn-dark vel" ng-click="pctrl.shop_buy(k)" >dodaj u korpu</button></td>
                
                
                </tr>
                
            
            </tbody>
           
        </table>
    </div> 
</div>
<style>
    .k{
        margin-top: 90px;
        width: 100px;
    }
    .vel{
            margin-top: 90px;
            width: 150px;
            height: 50px;
        }
</style>