<div class="row">
    <div class="col-12">
        <!--
            Forme se definisu bez action i method atributa jer ce
            predavanje sadrzaja forme biti realizovano asinhrono
            obradom dogadjaja za predavanje sadrzaja. Uvezivanje
            funkcije koja obradjuje dogadjaj vrsi se preko ng-submit
            direktive kojoj se prosledjuje kod za obradu dogadjaja,
            u ovom slucaju poziv metode sacuvaj iz kontrolera.

            Upotreba ng-submit direktive za uvezivanje dogadjaja
            postuje ogranicenja forme u vidu zahteva za obaveznu
            popunjenost polja, dozvoljenih vrednosti polja itd.
            Ova direktiva takodje prati stanje isravnosti elemenata
            forme i na taj nacin omogucava stilizovanje elemenata
            forme spram ispravnosti forme i njenog sadrzaja.
        -->
        <form ng-submit="pctrl.sacuvaj()" name="proizvodForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
               
                <input ng-class="{'is-invalid': proizvodForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.noviProizvod.naziv" required>
            </div>
           
            <div class="form-group">
                <label for="opis">Opis:</label>
                <textarea name="opis" id="opis" class="form-control" ng-model="pctrl.noviProizvod.opis"></textarea>
            </div>
           
            <div class="form-group">
                <label for="cena">Cena:</label>
                <input ng-class="{'is-invalid': proizvodForma['cena'].$invalid}" type="number" name="cena" id="cena"
                    min="0" step="0.01" class="form-control" ng-model="pctrl.noviProizvod.cena" required>
            </div>
            <div class="form-group">
                <label for="slika">slika:</label>
                <input ng-class="{'is-invalid': proizvodForma['slika'].$invalid}" type="text" id="slika"
                     class="form-control" ng-model="pctrl.noviProizvod.slika" required>
            </div>
          
            <div class="form-group">
                <!--
                    Prikaz dugmeta zavisi od toga da li proizvod ima zadat id ili ne,
                    odnosno od toga da li se vrsi izmena postojeceg ili dodavanje
                    novog proizvoda.
                -->
                <input type="submit" ng-if="pctrl.noviProizvod['id']" value="Izmeni proizvod" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.noviProizvod['id']" value="Dodaj proizvod" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>